
* {
	box-sizing: border-box;
	font-family: "Muli";
	color: #236B8E;
	text-align: center;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 64.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

input[type=text] {
	width: 100%;
	padding: 15px;
	border-radius: 20px;
	border: none;
	outline: none;
}

input[type=email] {
	width: 103%;
	padding: 15px;
	border-radius: 20px;
	border: none;
	outline: none;
}

input[type=submit] {
	width: 100%;
	padding: 15px;
	border-radius: 20px;
	background-color: #236B8E;
	color: #D4EFFF;
	border: none;
	outline: none;
}

input[type=password] {
	width: 100%;
	padding: 15px;
	border-radius: 20px;
	border: none;
	outline: none;
}
.heading {
	/*text-align: center;*/
	font-size: 50px;
}
.mid {
	/*height*/
	padding-top: 2%;
	background-color: #D4EFFF;
	border-radius: 50px;
}

@media only screen and (max-width: 1200px) {
	/*.col-1 { width: 50%; }
	.col-2 { width: 100%; }
	.col-3 { width: 50%; }
	.col-4 { width: 50%; }
	.col-5 { width: 50%; }
	.col-6 { width: 50%; }
	.col-7 { width: 100%; }
	.col-8 { width: 100%; }
	.col-9 { width: 50%; }
	.col-10 { width: 50%; }
	.col-11 { width: 100%; }
	.col-12 { width: 100%; }*/
	
	/*.mid {
		padding-top: 2%;
		background-color: #D4EFFF;
		border-radius: 50px;
	}*/
	.col-2 {
		width: 0px;
		/*height: 10%;*/
		/*background-color: brown;*/
	} 
	.col-5 {
		width: 30%;
		/*background-color: brown;*/
	} 
	.col-6 {
		width: 60%;
		/*background-color: grey;*/
	} 
	.col-10 {
		width: 30%;
		/*background-color: orange;*/
	} 
	.col-1 {
		width: 30%;
		/*background-color: pink;*/
	} 
	.col-11 {
		width: 40%;
		/*background-color: violet;*/
	}
	.col-12 {
		width: 20%;
		/*background-color: green;*/
	} 
	.col-7 {
		width: 40%;
		/*background-color: blue;*/
	} 
	.col-9 {
		width: 40%;
		/*background-color: yellow;*/
	} 
	.col-3 {
		width: 60%;
		/*background-color: black;*/
	}
	.col-4 {
		width: 100%;
		/*background-color: red;*/
	}

	.col-8{
		width: 100%;
		/*background-color: blue;*/
	}

/*	.col-8 {
		width: 80%;
	}*/

	input[type=text] {
		width: 100%;
		padding: 15px;
		border-radius: 20px;
		border: none;
		outline: none;
	}
	input[type=email] {
		width: 100%;
		padding: 15px;
		border-radius: 20px;
		border: none;
		outline: none;
	}

	input[type=submit] {
		width: 100%;
		padding: 15px;
		border-radius: 20px;
		background-color: #236B8E;
		color: #D4EFFF;
		border: none;
		outline: none;
	}
}

@media only screen and (max-width: 600px) {
	[class*="col-"] {
		width: 100%;
		padding: 1%;
	}
	/*.col-8 {
		padding: 0%;
		width: 100%;
	}*/
}
